.block
	margin-bottom: 15px
	.item-title
		margin: 14px 0 0 0
	&.no-border
		border: 0 !important
	&.block-bcb
		.item
			margin-bottom: 20px
			>a.thumb
				display: block
				float: left
				margin-right: 10px
			>a.title
				color: $block-bcb-linb-color
			&:after
				content: ' '
				display: block
				clear: both
	&.block-latest-products
		border-color: $block-border-color
		border-width: 1px 0
		border-style: solid
		.item
			margin-bottom: 30px
			margin-top: 20px
			@media (max-width: 40.0625em)
				text-align: center


		.item, .item .item-title
			font-size: 12px
		.item-title, .item-title a
			color: #393939
			font-weight: bold
		.item-price
			color: $sub-text-color
			font-weight: bold
			margin-bottom: 20px
	&.block-news-grid
		padding: 20px 0 0 0
		border-color: $block-border-color
		border-width: 1px 0
		border-style: solid
		
		.item
			margin-bottom: 20px
		.item-title
			padding: 0
			font-size: 12px
			a				
				font-weight: bold
				color: $text-color
		.item-summary
			color: $sub-text-color
			height: 75px
	&.block-news-detail
		padding: 0 10px
		border-color: $block-border-color
		border-width: 1px 0
		border-style: solid

		.block-title, .block-title a
			font-size: 18px
			font-weight bold
			text-decoration: none
			color: $text-color
			margin: 20px 0 10px 0
		.news-excerpt
			font-weight: bold
			color: $sub-text-color
		.news-content
			.news-thumb
				width: 380px
				height: auto
				margin: 15px auto
				display: block
				max-width: 100%
				
	&.block-contact
		padding: 15px 0 10px 0
		border-color: $block-border-color
		border-width: 1px 0 0
		border-style: solid