.breadcrumbs
    padding: 20px 10px
    border-width: 0 0 1px 0
    margin: 0 -15px 10px -15px
    > *
        font-size: 14px
        color: $text-color
        text-transform: none
    > *.current
        font-size: 21px
        color: $main-color    
