.button
    &.button-add
        font-weight: bold
        font-size: 12px
        text-transform: uppercase
        @include linear-gradient($sub-color, $main-color)
        border-radius: 3px
        padding: 10px 30px
        margin: 0
    &.last
        margin-left: 15px