fieldset.form-wrapper    
    padding: .5rem 1.25rem
    input[type="number"], input[type="text"], select
        display: inline-block
        width: 250px
    input[type="checkbox"], input[type="radio"]
        margin: 0
    .fieldset-wrapper
        .fieldset-description
            font-style: italic
            margin-bottom: 10px
    .form-item-panes-delivery-select-address
        display: inline-block
        border: 1px dashed #ccc
        border-width: 1px 0
        margin-bottom: 35px
.uc-store-address-field
    .form-item
        label
            width: 8.5rem
            text-align: left
