footer
    background: $footer-bg
    padding-top: 15px
    padding-bottom: 40px
    color: #fff
    .detail
        border-top: 1px solid #077007
        text-align: center
        padding-top: 15px
    .footer-name
        font-size: 1em
        margin: 0
        color: #fff
        text-transform: uppercase
    address
        font-style: normal
    a
        color: #fff
        text-decoration: none
        &:hover,&:active,&:focus
            color: #fff
            text-decoration: underline
ul.footer-link
    text-align: center
    >li
        display: inline-block
        float: none
        a
            color: $sub-color
            font-family: Arial, sans-serif
            font-size: 12px
            text-transform: uppercase
            &:hover,&:active,&:focus
                color: #FFF                
ul.social-link
    position: absolute
    top: 0
    li        
        >a
            background: #fff
            border-radius: 50%
            display: block
            width: 33px
            height: 33px
            line-height: 33px
            text-align: center
            color: $main-color          
            opacity: .39
            &:hover,&:active,&:focus
                opacity: 1
    @media (max-width: 820px)
        position: relative
        width: 165px
