.card-payment
    label.green
        font-size: 13px
        color: $main-color
        text-transform: uppercase
        font-weight: bold
    img.big-visa
        box-shadow: #A8A8A8 1px 1px 1px 0px
        padding: 2px
        border-radius: 5px
.form-contact
    label
        font-size: 12px
        color: $sub-text-color        