@import "navbar"
header
	.bg-wrapper
		background-size: cover
		height: 586px
		padding-top: 86px
		&.bg-home
			background: url(../img/green-tea-leaf.jpg) no-repeat
		&.bg-news
			background: url(../img/bgwr-news.jpg) no-repeat
		&.bg-news-detail
			background: url(../img/bgwr-news-detail.jpg) no-repeat
		&.bg-products
			background: url(../img/bgwr-products.jpg) no-repeat
	.logo	
		img 
			@include border-top-radius(50%)
			@include border-right-radius(50%)
			@include border-bottom-radius(50%)
			@include border-left-radius(50%)
			box-shadow: rgba(255,255,255,0.81) 0px 0px 120px 20px
			
	.description
		font-family: "uvn_anh_sangregular",sans-serif
		text-shadow: #fff -1px -1px 0px
		text-transform: uppercase
		color: #036403
		font-size: 61px
		@media (max-width: 40.0625em)
			font-size: 40px