.nav-wrapper
	background: $nav-bg
.top-bar
	font-family: Arial, sans-serif
	font-size: 12px
	background: $nav-bg
	&.expanded
		.title-area
			background: darken($main-color, 7.5%)
		.toggle-topbar a
			color: #fff
			span::after
				color: #fff
				box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff
.top-bar-section	
	ul
		li
			>a
				color: $nav-link-color
				text-transform: uppercase
	li:not(.has-form)
		background: none

		a:not(.button)
			background: none
			&:hover
				background: none
				color: $nav-link-hover-color


@media only screen and (min-width: 40.0625em)
	.top-bar-section
		li.active
			&:not(.has-form)
				a:not(.button)
					background: none
					&:hover,&:focus
						background: none