ul.pagination
    font-size: 12px
    &:before
        content: 'Trang'
        float: left
        line-height: 12px
    li
        height: 12px
        a,button
            padding: 0
            line-height: 12px
            border-right: 1px solid $sub-text-color
            padding-right: 5px
            border-radius: 0
            &:hover,&:active,&:focus
                background: none
                color: $text-color
                font-weight: bold
    li.current
        a,button
            color: $text-color
            font-weight: bold
            background: none           
            &:hover,&:active,&:focus
                background: none
    li.arrow
        a,button
            border-right: 0
            padding: 0 2px