.panel
    .panel-header
        .panel-heading
            font-family: Arial, sans-serif
            font-size: 21px
            text-transform: uppercase
            color: $main-color
    &.panel-default
        padding: 0
        background: none
        border-style: solid
        border-width: 0 0 1px 0
        border-color: $panel-border-color           
                
    &.panel-light
        border-color: $panel-border-color
        background: #fff
        padding: 0
        p
            color: $sub-text-color
        .panel-header
            border-bottom: 1px solid $main-border-color
            padding: 19px 15px
            .panel-heading
                margin: 0
        .panel-body
            padding: 15px
    &.panel-mini
        color: $sub-text-color
        background: none
        padding: 5px 0  
        border: 1px solid $main-border-color
        border-width: 1px 0
        label
            color: $sub-text-color
            padding: 0
            line-height: 37px
        label, input
            margin-bottom: 0
        .panel-header
            border-bottom: 1px solid $main-border-color
            padding: 0
            .panel-heading
                color: $main-color
                margin: 0
                font-size: 18px
                font-weight: bold
                text-align: center
                line-height: 43px
        .panel-body
            font-size: 14px
            text-transform: uppercase
            padding: 25px 0 30px 0
        .panel-footer
            padding: 5px 0 0 0
            border-top: 1px solid $main-border-color
            text-align: center
            button
                margin: 0

    &.panel-social-login
        background: none
        display: inline-block
        width: auto
        padding: 0
        border: 0
        .panel-header
            border-bottom: 1px solid $main-border-color
            padding: 10px 0
            text-align: center
        .panel-body
            padding: 26px 15px
            >a
                display: block
                border: 1px solid
                margin-bottom: 20px
                height: 26px
                line-height: 26px
                width: 115px
                text-align: center
                font-weight: bold
                >span
                    display: inline-block
                    width: 25px
                    height: 24px
                    line-height: 26px
                    text-align: center
                    color: #fff
                    float: left
                &.facebook
                    $_color: #4964a0
                    border-color: $_color
                    color: $_color
                    >span
                        background: #4964a0
                &.google-plus
                    $_color: #d94d2e
                    border-color: $_color
                    color: $_color
                    >span
                        background: #d94d2e