table
    width: 100%
    border-spacing: 0
    border-style: solid
    border-width: 0 1px 1px 0
    border-color: $main-border-color
    thead
        background: #fff    
    tr
        th, td
            border: 1px solid $main-border-color
            border-width: 1px 0px 0 1px
        th
            color: $text-color
            text-align: center
            text-transform: uppercase
        td
            color: $sub-text-color
table.table-cart  
    th:nth-child(2)
        border-left: 0
    tr.odd,tr.even
        background: #fff
    tr
        td
            vertical-align: middle !important   
    .price
        font-size: 21px
        color: $main-color
    .image
        width: 98px
        img
            padding: 0 !important
            float: right !important

    .desc
        border-left: 0
        width: auto !important
    .remove       
        text-align: center        
        button
            color: #d9d9d9
            border: 1px solid #d9d9d9
            background: none
            padding: 0
            width: 36px
            height: 36px
            line-height: 36px
            margin: 0
            &:hover
                background: #f00
                border-color: #f00
                color: #fff
    .desc
        text-transform: uppercase       
        a
            color: $sub-text-color
    .qty
        input
            margin: 0
            display: inline-block
            width: auto
    .subtotal
        .uc-price
            font-size: 18px
            color: #028242
            font-weight: bold
table.cart-review    
    tr.odd,tr.even
        background: #fff
    td
        padding: 20px 10px
    td.products
        width: auto  
    td.qty
        width: 110px
    td.price
        width: 200px
        font-size: 14px
        color: $main-color
    .subtotal
        .uc-price
            font-size: 18px
            color: #028242
            font-weight: bold 

.button.checkout
    margin-left: 15px

table.table-order-summary
    td
        font-size: 12px
        padding: 40px 0