body
    font-family: Arial, sans-serif
    font-size: 12px
    color: $text-color

a
    color: $text-color

a:hover,a:active,a:focus
    color: #000


p
    font-size: 12px
    color: $sub-text-color

input
    box-shadow: none !important

.head-title, .head-title>a
    color: $main-color

h5.head-title
    font-size: 14px
h4.head-title
    font-size: 16px
h3.head-title, h3.head-title>a
    font-size: 18px

.head-title-2, .head-title-2>a
    color: $text-color


.big-text
    font-size: 24px
    color: $main-color
.strong-text
    font-size: 18px
    color: #028242
    font-weight: bold

.text-primary
    color: $main-color
.text-secondary
    color: $sub-text-color


.text-upper
    text-transform: uppercase !important