@import "bourbon/bourbon"
@import "vars"
@import "font"




@import "typo"    



@import "header"

//*
//* Components
//*************************

@import "bread"
@import "button"
@import "form"
@import "panel"
@import "block"
@import "table"
@import "pagination"

//************************


#wrapper
    margin-top: -15rem
    .content
        background: #fff        
        .intro-text
            padding: 0 15px
            font-size: 14px
            margin-top: 15px
        #main-content
            padding: 0
#sidebar
    padding-top: 20px

.product    
    font-size: 12px
    color: $sub-text-color        
    padding: 12px 0
    .product-image
        border: 1px solid $main-border-color
        width: 100%
        height: auto
        padding: 3px
        margin: auto
        max-width: 100%
    .product-title
        margin: 0 0 27px 0       
        text-transform: uppercase
        color: $text-color   
        font-size: 1em
        font-weight: bold
    .product-detail
        color: $sub-text-color
        p
            font-weight: bold
    .product-unit-price
        list-style-type: none
        margin-left: 0
        font-weight: bold
        .price
            color: $main-color
            font-size: 18px              
    .amount
        display: inline
        font-weight: bold
        font-size: 18px
    .product-content
        margin-top: 30px


ul.action        
    list-style-type: none
    border-style: solid
    border-width: 1px 0
    border-color: $main-border-color
    padding: 6px 0
    font-size: 12px
    li           
        margin-right: 4px
        line-height: 32px
    &.no-border
        border: 0
        margin-bottom: 0
ul.inline-list.action-list
    li
        margin-left: 0
        margin-right: 20px
        a:not(.button)
            line-height: 34px
            font-size: 12px
            color: $sub-text-color
            text-decoration: underline
            &:hover, &:active,&:focus
                text-decoration: none
                color: $text-color

ul.list-related
    list-style-type: none
    margin: 0
    padding: 0
    .title
        font-size: 18px
        color: $text-color
        font-weight: bold
    >li
        >a
            color: $text-color
            font-weight: bold
            font-size: 12px
            &:hover,&:active,&:focus
                color: $sub-text-color

.label-coupon    
    strong
        font-size: 18px
        text-transform: uppercase
ul.payment
    list-style-type: none
.payment
    margin: 0
    padding: 0
    font-size: 14px
    text-transform: uppercase
.social-login-wrap
    border-left: 1px dotted $main-border-color
    margin-left: 40px
    padding-left: 15px
@import "footer"      
@import "drupal"  